* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    height: 100%;
}

h1 {
    font-weight: 800;
    margin-top: 30px;
}

header {
    height: 60px;
    width: 100%;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

main {
    min-height:calc(100vh - 120px);
    background-color: #ebebeb;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

footer {
    background-color: #333333;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ebebeb;
}

a {
    text-decoration: none;
    color: #ebebeb;
}

a:visited {
    color: #ebebeb;
}

nav {
    display: flex;
    gap: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input:focus, textarea:focus {
     border-color: #4D4D4D;
     outline: none;
     box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
}

textarea {
     min-height: 120px;
     resize: vertical;
}

button {
    background-color: #333333;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4D4D4D;
}


.flash {
    padding: 5px;
    color: #008000;
}

