<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Form Example</title>
</head>
<body>
    <h1>Заполните форму ниже</h1>
    <form action="/submit" method="POST">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="color">Ваш любимый цвет:</label>
        <input type="color" id="color" name="color"><br><br>

        <label for="profession">Ваша профессия:</label>
        <select id="profession" name="profession">
            <option>Разработчик</option>
            <option>Дизайнер</option>
            <option>Тестировщик</option>
            <option>Менеджер</option>
        </select>

        <p>Ваше хобби:</p>
        <label><input type="checkbox" name="hobbies" value="чтение"> Чтение</label>
        <label><input type="checkbox" name="hobbies" value="спорт"> Спорт</label>
        <label><input type="checkbox" name="hobbies" value="видеоигры"> Видеоигры</label>

        <p>Ваш возраст:</p>
        <label><input type="radio" name="age" value="18-25">18-25</label>
        <label><input type="radio" name="age" value="26-35">26-35</label>
        <label><input type="radio" name="age" value="36-50">36-50</label><br><br>

        <button type="submit">Отправить</button>
    </form>
</body>
</html>